
	<div id="footer_content">
        <div id="main_footer">
            <div class="logo_theme">
               <h4>Logo Theme</h4>
            </div>
            <div id="footer_menu">
           <div id="footer_link">
				             	<ul>
                          <li><a href="#" class="text">Revol-Tech</a></li>
                          <li><a href="/">Home</a></li>
                           <li> <a href="#">Why Revol-Tech?</a></li>
                           <li><a href="/home/portfolio">Office Tour</a></li>
                            <li><a href="/home/services">What we do?</a></li>
                     </ul>
                     <ul>
                          <li><a href="#" class="text">More</a></li>
                          <li><a href="#">Revol-tech Blog</a></li>
                          <li><a href="">Office Attendance Software</a></li>
                          <li><a href="#">Project Tracking Software</a></li>
                     </ul>
                     <ul>
                            <li ><a href="#" class="text">Company</a></li>
                              <li><a href="/home/aboutus">About</a></li>
                             <li><a href="mailto:info@revol-tech.com.np">Contact Us</a></li>
                     </ul>
                      </div><!--end of footer_link-->
                      <div id="contact">
            <div id="address">
                     <h3 id="phone"> 977-1-6617807 </h3>
                     <p>Revol-Tech Nepal</p>
                     <p>Sallaghari,Katunje</p>
                     <p>Bhaktapur</p>
             </div>

             </div>

             </div>

       </div>	 <!--end of main_footer-->

  </div>	 <!--end of footer_content-->
