<div id="footer">
	<div id="footer_content">
        <div id="main_footer">
            <div class="logo_theme">
            </div>
           <div id="footer_link">
				   	<ul>
                <li><a href="#" class="text">Revol-Tech</a></li>
                <li><a href="/">Home</a></li>
                 <li> <a href="#">Why Revol-Tech?</a></li>
                 <li><a href="/home/portfolio">Office Tour</a></li>
                  <li><a href="/home/services">What we do?</a></li>
           </ul>
           <ul>
                <li><a href="#" class="text">More</a></li>
                <li>
              <a href="#">Revol-tech Blog</a>
            </li>
            <li>
              <a href="">Office Attendance Software</a>
            </li>
            <li>
              <span class="label success">New</span>
              <a href="#">Project Tracking Software</a>
            </li>

           </ul>
           <ul>
                <li ><a href="#" class="text">Company</a></li>
                    <li>
            <a href="/home/aboutus">About</a>
          </li>
          <li>
             <a href="mailto:info@revol-tech.com.np">Contact Us</a>
           </li>
           </ul>

           </div>

				</div>	 <!--end of main_footer-->

  </div>	 <!--end of main_content-->
<div id="copyright_footer">
       <div id="sub_footer">
            <div class="contact">

                    <h3 id="phone"> 977-1-6617807 </h3>
                    <p>
                      &copy; 2011
                        <a title="Revol-Tech - Remarkable web-based software and websites in Nepal"
                                 href="http://www.revol-tech.com.np">Revol-Tech, Nepal</a>
                                 . All Rights Reserved. &nbsp;
                        <a href="#">Terms</a>
                           &nbsp;&amp;&nbsp;
                            <a href="#">Privacy</a>.
                     </p>
            </div>
            <div id="social_link">
                 <h4>Stay in touch:</h4>

            <div id="social-icons">
<a class="facebook" href="http://www.facebook.com/pages/Revol-Tech-Nepal/233701270029361"" TARGET="_blank""></a>
<a class="twitter" data-show-count="false" href="https://twitter.com/RevolTech2" TARGET="_blank"></a>
<a class="rss" data-show-count="false" href="#"></a>
</div>
 </div>

			</div>	<!--end of sub_footer-->
</div>	<!--end of copyright_footer-->
</div>	<!--end of footer-->
