
<div class="nav">
<div class="logo">

  <a href="/"><%= image_tag "revol_tech_nepal_logo.png"%></a>

</div>
<div class="follow_us">
    <span>Follow Us :</span>
    <a class="facebook" target="_blank" "="" href="http://www.facebook.com/pages/Revol-Tech-Nepal/233701270029361">
<img src="/assets/facebook.png" alt="Facebook">
</a>
<a class="twitter" target="_blank" href="https://twitter.com/RevolTechNepal" data-show-count="false">
<img src="/assets/twitter.png" alt="Twitter">
</a>
</div>
</div>
