
<div class="nav">
<div class="logo">

  <a href="/"><%= image_tag "revol_tech_nepal_logo.png"%></a>

</div>
<div class="revol_address">

     <span>Sallaghari,Bhaktapur</span><br>
<span>Nepal</span><br>
<span>+977-1-6617807<span>

</div>
</div>
