





                <div class="banner">
                    <%= image_tag "design_great_banner.png"%>
                </div>
                <%= render "quote" %>
                <%= render "lowercontent"%>
