



<div class="social">
<div class="follow_us">
    <span>Follow Us :</span>
    <a class="facebook" target="_blank" "="" href="http://www.facebook.com/pages/Revol-Tech-Nepal/233701270029361">
<img src="/assets/facebook.png" alt="Facebook">
</a>
<a class="twitter" target="_blank" href="https://twitter.com/RevolTechNepal" data-show-count="false">
<img src="/assets/twitter.png" alt="Twitter">
</a>
</div>
</div>

                <div class="banner">

                </div>
               <div id="scarp">
                <%= render "quote" %>


                  </div>
