/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

/*....julfikar*/
#main_wrapper{
 margin:0 auto;
 width:100%;
}
#navigation{
  width:100%;
  height:53px;
  position:fixed;
  display:block;
  background:#393939;
  border-bottom:1px solid #000;
  z-index:1;
}
#header{
width:100%;
height:53px;
 float:left;
 display:block;
}
.nav{
   width:960px;
   margin:0 auto;

}
.nav_menu{
   width:788px;
   padding:15px 0 0 20px;
   display:block;
   float:left;

}
.container{
 width:100%;
 float:left;
 display:block;
 margin:30px 0 0 0;
}
#wrapper{
 margin:0 auto;
 width:960px;
}
.logo{
 width:152px;
 height:53px;
 float:left;

}
#slider{
  display:block;
  height:315px;

}
.quote{
  display:block;
  float:left;
  height:160px;
  margin:20px 0 0 0;

}

#lower_content{
float:left;
 margin:30px 0 0 0;
 display:block;
}
.newsletter{
  float:left;

  display:block;
  width:300px;

}
.newsletter{
 font-size:12px;
}
.tagline{
  display:block;
  float:right;
  width:660px;
}


/* ............footer............*/

#footer{
  float:left;
  display:block;
  width:100%;
	background:#393939;
  margin:30px 0 0 0;
	padding:0 0 0 0 !important;
}


#footer_content{
	display:block;
  margin:0 auto;
  width:960px;
}
#main_footer{
	display:block;

	float:left;
}
.logo_theme{
  display:block;
  float:left;
  width:300px;

  background:#fff;
  border:1px solid #393939;
}
#footer_menu{
   width:658px;
   float:left;
   display:block;

}
#contact{
   float:left;
   display:block;
   width:100%;
   border-bottom:1px solid #fff;

}
#address{
   display:block;
   width:300px;
   float:left;
}
#social-icons{
   float:left;
   display:block;
   width:358px;

}
#main_footer ul {
    float: left;
    list-style: none outside none;
    padding-bottom: 4px;
    padding-top:4px;
    width: 200px;
}


#main_footer a{
	display:block;
  color:#909090;
  font-size:12px;
	text-decoration:none;

}





#main_footer .text{
	display:block;
  font-size:13px;
  color:#b8b4a8;
	font-weight:bold;
}


#main_footer .text:hover{
color:#f36363;
}

#main_footer a:hover{
			color:#fff;
			text-decoration:underline;
}



#footer h4 {
    color: #999999;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
.facebook {
    background: url("footer-icons-sprite.png") no-repeat scroll -35px top ;
    display: block;
    height: 35px;
    width: 33px;
    float:left;
}



.twitter {
    background: url("footer-icons-sprite.png") no-repeat scroll left top ;
    display: block;
    float:left;
    height: 35px;
    width: 33px;
}
.rss {
    background: url("footer-icons-sprite.png") no-repeat scroll right top ;
    display: block;
    float:left;
    height: 35px;
    width: 33px;
}
