/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

/*....julfikar*/
#main_wrapper{
 margin:0 auto;
 width:100%;
}
#navigation{
   background-color:rgba(0,96,160,0.8);

    display: block;
    height: 60px;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
#header{
width:100%;
height:53px;
 float:left;
 display:block;
}
.nav{
   width:960px;
   margin:0 auto;

}
.nav_menu{

   padding:15px 0 0 0px;
   display:block;
   float:right;

}
.container{
 width:100%;
 float:left;
 display:block;
 margin:90px 0 0 0;
}
#wrapper{
 margin:0 auto;
 width:960px;
}
.logo{
 width:166px;
 height:53px;
 float:left;

}
.banner{
   width:100%;
   display:block;
   background:url("image.png") no-repeat center top;
   height:355px;


}
.follow_us {
  float:right;

}

.follow_us a, span {
float:left
}

#scarp{
   width:860px;
   margin:0 auto;
   display:block;
   height:194px;
   background-color:#1c87ce;
   padding:32px 50px 0px 50px;

}
#scarp a.learn_more{
color:#fff;

}
#scarp a.learn_more:hover{
opacity:0.8;

}
.learn_more{
  display:block;
  float:right;
  margin:33px 0 0 0;
  font:12px arial;
  text-decoration:none;

}
.learn_more small{
padding:12px 0 0 0;
float:left;
font-size:12px;
}
.learn_more span{
height:40px;
width:40px;
border:1px solid #ffffff;
border-right:none;
border-bottom:none;
background:url("learn_more.png") no-repeat center;
display:block;
float:right;
 margin: 0 -50px 0 0;
}
.social_media{


 margin:30px 0 0 0;
width:960px;
display:block;
   height:194px;
   padding:32px 0;
   background-color:#4c4d5a;

}
.social_links{
   display:block;
   width:94px;
   height:144px;
   padding:0 113px;
   float:left;
   margin:52px 0 0 0;
}
.social_box{
  display:block;
  height:44px;
  width:44px;
  padding:25px;
  background-color:#3c3e4d;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  cursor:pointer;
}
.social_box:hover{
 background-color:#2d2e3c;
}
#lower_content{
float:left;
 margin:30px 0 0 0;
 display:block;
}
.newsletter{
  float:left;

  display:block;
  width:300px;

}
.newsletter{
 font-size:12px;
}
.tagline{
  display:block;
  float:right;
  width:660px;
}


/* ............footer............*/

#footer{
  float:left;
  display:block;
  width:100%;
	background:#393939;
  margin:30px 0 0 0;
	padding:0 0 0 0 !important;
}


#footer_content{
	display:block;
  margin:0 auto;
  width:960px;
}
#main_footer{
	display:block;

	float:left;
}
.logo_theme{
  display:block;
  float:left;
  width:300px;

  background:#fff;
  border:1px solid #393939;
}
#footer_menu{
   width:658px;
   float:left;
   display:block;

}
#contact{
   float:left;
   display:block;
   width:100%;
   border-bottom:1px solid #fff;

}
#address{
   display:block;
   width:300px;
   float:left;
}

#main_footer ul {
    float: left;
    list-style: none outside none;
    padding-bottom: 4px;
    padding-top:4px;
    width: 200px;
}


#main_footer a{
	display:block;
  color:#909090;
  font-size:12px;
	text-decoration:none;

}





#main_footer .text{
	display:block;
  font-size:13px;
  color:#b8b4a8;
	font-weight:bold;
}


#main_footer .text:hover{
color:#f36363;
}

#main_footer a:hover{
			color:#fff;
			text-decoration:underline;
}



#footer h4 {
    color: #999999;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
