// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about h3{
 color:#336699;
}
.about h2{

}
#service_wrapper{
float:left;

}
p.service_text{
 color: #232323;
    font-family: 'Tangerine',serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;

    text-shadow: 4px 4px 4px #AAAAAA;
    }
#service_intro{
float:left;
   width:800px;
   margin:0 0 0 60px;
   text-align:justify;
}
#service_intro h3{
   color:#3f87b7 !important;
   margin-left:130px;
}

.service_content{
   width:100%;
	 float:left;
	 display:block;

}

.service {

    display: block;
    float: left;
    margin: 30px 30px 0 0;
    width: 290px;
}

.service_image{
    border: 1px solid #000;
    height: 120px;
		float:left;
    margin: 0px 0 20px 10px;
    width: 260px;
    overflow:hidden;
		display:block;
}

.service_text {
    margin:0px 0 0 10px;
    width: 260px;

		float:left;
		display:block;
		overflow:hidden;
		padding: 10px 10px 10px 10px;
}

.service_text p{

						text-align: justify;
						color: #777978;
						font:normal 16px/18px "arial";
						float:left;
						display:block;
}
